<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="content-section">
        <form method="POST">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Already Logged In</legend>
            </fieldset>
        </form>
        <div>
            <small class="text-muted">
                <h4><a class="ml-2" href="{% url 'logout' %}">Logout?</a></h4>
            </small>
        </div>
    </div>
</body>
</html>