{% extends 'authe/authe-base.html' %}
{% block content %}
<p class="center big-text big-text-margin">{% block textmain %}{% endblock %}</p>
{% block text %}{% endblock %}
<form method="POST">
    {% csrf_token %}
    <fieldset>
        {% for field in form %}
        {% if field.name != 'allergys_hidden' and field.name != 'breed_hidden' %}
            {% if field.name == 'age' %}<div id="age-gender">
            {% endif %}
            <div class="form-group" id="{{field.name}}">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.name == "name" %}
                {% block name %}
                {% endblock name %}
                {% endif %}
                <br>
                <div class="{{field.name}}_div input_div">
                    {{ field }}
                    {% if field.name == 'email' %}
                    {% block email %}
                    {% endblock email %}
                    {% elif field.name == "allergys" %}
                    {% block allergies %}
                    {% endblock allergies %}
                    {{ form.allergys_hidden }}
                    <ul id="selected-allergys" class="tags" style="display: initial;"></ul>
                    {% elif field.name == "breed" %}
                    {% block breeds %}
                    {% endblock breeds %}
                    {{ form.breed_hidden }}
                    <ul id="selected-breeds" class="tags"   style="display: initial;"></ul>
                    {% endif %}
                </div>
                {% if field.name == 'email' %}
                {% block small%}
                {% endblock small %}
                {% endif %}
                {% if field.errors %}
                <div class="error">{{ field.errors }}</div>
                {% endif %}
            </div>
            {% if field.name == 'gender' %}</div>{% endif %}
        {% endif %}
        {% endfor %}    
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                {{error}}
            {% endfor %}
        {% endif %}
    </fieldset>
    <button class="button-sumbit" type="submit" style="margin: 3% 0;">{% block textbutton %}{% endblock %}</button>
</form>
<p class="center" style="margin: 2.5% 0;">{% block texturl21 %}{% endblock %}<a class="link" href="{% block texturl22 %}{% endblock %}">{% block texturl23 %}{% endblock %}</a></p>
<p class="center" style="margin: 2.5% 0;">{% block texturl1 %}{% endblock %}<a class="link" href="{% block texturl2 %}{% endblock %}">{% block texturl3 %}{% endblock %}</a></p>

{% block extra %}
{% endblock extra %}
    
{% endblock %}