* {
    margin:0;
    padding:0;
}

header {
    position: fixed;
    top:0;
    z-index: 10000;
    height:10vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(235,235,235);
    margin:0;
}

html, body {
    position: absolute;
    top:0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    font-size: 2.33vmin;
}


#logoImage {
    height:10vh;
}

.nav__links {
    list-style: none;
}

.nav__links li{
    display:inline-block;
}

.nav__links li a{
    text-decoration: none;
    transition: all 0.3s ease 0s;
    font-size: 24px;
}

.nav__links li a:hover{
    /* color: lightskyblue; */
    color: #4d79ff;
}

.nav__links li a, .link-nav-buttons {
    font-family: 'MondayFeelings', sans-serif;
    font-weight: 500;
    color: rgb(43,27,23);
    margin:16px;
}
.link-nav-buttons, .button1 {
    text-align: center;
    font-size: 16px;
    background-color: #668cff;
    /* background-image: linear-gradient(to right, #668cff, #56CAC8); */
    padding: 8px 16px;
    color:white;
    border-radius: 50px;
    transition: all 270ms ease 0s;
    border: none;
    text-decoration: none;
}
.link-nav-buttons {
    margin: 16px;
}
.link-nav-buttons:hover, .button1:hover{
    background-color: #4d79ff;
    /* background-image: linear-gradient(to right, #4d79ff, #51c8c6); */
    /* padding: 10px;
    margin: 40px;
    font-size: 30px; */
    
    cursor:pointer;
}

.link-login-button, .button2{
    background-image: none;
    background-color: white;
    border: solid 3px #668cff;
    text-decoration: none;
    color: rgb(43,27,23);
}
.link-login-button:hover, .button2:hover{
    background-image: none;
    background-color: rgb(235,235,235);
    border: solid 3px #4d79ff;
    color: rgb(43,27,23);
}

main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-section {
    position: relative;
    width: 65vmin;
    height: auto;
    border: solid 2px #334;
    border-radius: 4vmin;
    text-align:center;
}



#password-input-wrapper input {
    display: inline-block;
}

html, body {
    height: 100%;
    margin:0;
}

.font, * {
    font-family: Montserrat;
}
.center {
    text-align: center;
}
fieldset {
    border:none;
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    margin: 0 8%;
}
.button-sumbit{
    font-size: 1.5em;
    padding: 1% 3%;
    background-color: #ffff66;
    border-color: #334;
    color:#334;
    border-radius: 1vmin;
}
form{
    text-align: center;
}
.form-group{
    text-align: left;
    margin: 0 0 3% 0;
}
.form-group input {
    box-sizing: border-box;
    padding-top:0.25em;
    padding-bottom: 0.25em;
    font-size: 1em;
    width:100%;
    border-radius: 0.5vmin;
    border: solid #334 1px;
    background-color: #e7f5fa;
}
button {
    border-style: solid;
}
.error>ul{
    margin: 0;
    padding-left: 6%;
}

.link{
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.link:link {
    color: #1a0dab;
}
.link:visited {
    color: #681da8;
}

.button-sumbit {
    cursor: pointer;
}

.big-text {
    font-size: 2em; margin: 4% 0
}

.big-text-padding {
    padding: 3% 10%;
}

.normal-text-padding {
    padding: 3% 6%;
}