{% extends 'shop/topbase.html' %}
{% load static %}
{% block topbasehead %}
    <meta charset="UTF-8">
    <title>Friendly Fur{% block title %}{% endblock %}</title>
    <link href="{% static 'shop/base.css' %}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{% static 'shop/images/favicon.ico' %}" type="image/x-icon">
    <style>
        @font-face {
            font-family: "MondayFeelings";
            src: url({% static 'home/font/MondayFeelings.ttf' %}) format("truetype");
        }
    </style>
    <script>
        function search() {
            if (search_input.value) {
                window.location.href = "{% url 'search' %}" + "?q=" + (search_input.value);
            }
        
        }
        function applyFilters() {
            $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
            " - $" + $( "#slider-range" ).slider( "values", 1 ) );
            final_list = [];
            final_list.push($( "#slider-range" ).slider( "values", 0 ));
            if ($( "#slider-range" ).slider( "values", 1 ) >= max_price_slider) {
                final_list.push(-1)
            }
            else {
                final_list.push($( "#slider-range" ).slider( "values", 1 ));
            }
        
            final = final_list.join(",")
        
            window.location.href = "{% url 'search' %}" + "?f=" + final;
        }
    </script>
    {% block head %}{% endblock %}
{% endblock %}
{% block topbasebody %}
<body>
    <header>
        <a href="{% url 'shop' %}">
            <img src="{% static 'shop/images/logo.svg' %}">
        </a>
        <form action="{% url 'search' %}" id="search" method="GET" onsubmit="return validateSearch()">
            <input id="search_input" name="q" placeholder="Search" autocomplete="on">
            <button  type="submit" aria-label="Search">
                <img  src="{% static 'shop/images/search.svg' %}">
            </button>
        </form>
    </header>
    <main>
    {% block main %}
    {% endblock %}
    </main>
</body>
<script src="{% static 'shop/base.js' %}"></script>
{% endblock %}