PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2023-08-24 08:09:23.930248');
INSERT INTO django_migrations VALUES(2,'contenttypes','0002_remove_content_type_name','2023-08-24 08:09:23.942410');
INSERT INTO django_migrations VALUES(3,'auth','0001_initial','2023-08-24 08:09:23.958902');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'authe','possibleallergies');
INSERT INTO django_content_type VALUES(2,'authe','customerdog');
INSERT INTO django_content_type VALUES(3,'authe','customeruser');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_possibleallergies','Can add possible allergies');
INSERT INTO auth_permission VALUES(2,1,'change_possibleallergies','Can change possible allergies');
INSERT INTO auth_permission VALUES(3,1,'delete_possibleallergies','Can delete possible allergies');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "authe_customerdog" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(20) NOT NULL, "breed" varchar(20) NOT NULL, "age" smallint unsigned NOT NULL CHECK ("age" >= 0), "male" bool NOT NULL);
CREATE TABLE IF NOT EXISTS "authe_customerdog_allergy" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "customerdog_id" bigint NOT NULL REFERENCES "authe_customerdog" ("id") DEFERRABLE INITIALLY DEFERRED, "possibleallergies_id" bigint NOT NULL REFERENCES "authe_possibleallergies" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "authe_customeruser_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "customeruser_id" bigint NOT NULL REFERENCES "authe_customeruser" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "authe_customeruser_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "customeruser_id" bigint NOT NULL REFERENCES "authe_customeruser" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "authe_customeruser" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'1','Colors object (1)',1,'[{"added": {}}]',5,1,'2023-08-25 07:47:04.944182');
INSERT INTO django_admin_log VALUES(2,'1','Sizes object (1)',1,'[{"added": {}}]',7,1,'2023-08-25 08:37:46.271319');
INSERT INTO django_admin_log VALUES(3,'2','Sizes object (2)',1,'[{"added": {}}]',7,1,'2023-08-25 08:39:13.189317');
CREATE TABLE IF NOT EXISTS "authe_customeruser" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "email" varchar(254) NOT NULL UNIQUE, "first_name" varchar(30) NOT NULL, "middle_name" varchar(30) NULL, "last_name" varchar(30) NOT NULL, "is_active" bool NOT NULL, "is_staff" bool NOT NULL, "dog_id" bigint NULL UNIQUE REFERENCES "authe_customerdog" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO authe_customeruser VALUES(1,'pbkdf2_sha256$600000$AqBQZpfxcLCRGmwBzqQx40$1FDgVYIVx3bSsmXnH8vcdHj2KgwBPjUzfM3WBslPKK0=','2023-08-25 06:25:32.728812',1,'micheleawada25@gmail.com','Michele',NULL,'Awada',1,1,NULL);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('xm7zugrlptku1jsdw121jmc8d6lrlz8z','.eJxVjDEOgzAMRe-SuYoMhNjp2J0zRMYOhbYCicBU9e4NEkO7vvf-f5vI-zbGPac1TmqupjKXX9azPNN8CH3wfF-sLPO2Tr09EnvabLtF0-t2tn8HI-exrCk1HlzdNopAEgZ0MGjrHTiqIQjJoFwpE3sgDIA-ERaOQaoiRcznC75ON1w:1qZPNG:Wt-t7spLJgUEkptBC_DE8G1E-9iHvmIlhtTxDbrKQp0','2023-09-08 05:28:46.043784');
INSERT INTO django_session VALUES('xugg5uluw7f24ab9b2e0f7rasbl6rte8','.eJxVjDEOgzAMRe-SuYoMhNjp2J0zRMYOhbYCicBU9e4NEkO7vvf-f5vI-zbGPac1TmqupjKXX9azPNN8CH3wfF-sLPO2Tr09EnvabLtF0-t2tn8HI-exrCk1HlzdNopAEgZ0MGjrHTiqIQjJoFwpE3sgDIA-ERaOQaoiRcznC75ON1w:1qZQGC:d2p8_1CZrxDpU5H4Yke1mePza60FY9jq__Gfcd8R01M','2023-09-08 06:25:32.733251');
CREATE TABLE IF NOT EXISTS "shop_product_product_ingredients" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "product_id" bigint NOT NULL REFERENCES "shop_product" ("id") DEFERRABLE INITIALLY DEFERRED, "possibleallergies_id" bigint NOT NULL REFERENCES "authe_possibleallergies" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO shop_product_product_ingredients VALUES(3,4,3);
INSERT INTO shop_product_product_ingredients VALUES(4,5,89);
INSERT INTO shop_product_product_ingredients VALUES(5,5,11);
CREATE TABLE IF NOT EXISTS "authe_possibleallergies" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL UNIQUE);
INSERT INTO authe_possibleallergies VALUES(3,'Beef');
INSERT INTO authe_possibleallergies VALUES(4,'Chicken');
INSERT INTO authe_possibleallergies VALUES(5,'Dairy(milk, cheese)');
CREATE TABLE IF NOT EXISTS "shop_productimages" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "product_id" bigint NOT NULL REFERENCES "shop_product" ("id") DEFERRABLE INITIALLY DEFERRED, "image" varchar(100) NOT NULL);
INSERT INTO shop_productimages VALUES(3,1,'product/images/squeaky_fish.jpg');
INSERT INTO shop_productimages VALUES(4,2,'product/images/download.jpg');
INSERT INTO shop_productimages VALUES(5,4,'product/images/PEDIGREE-Markies-Biscuits-Dog-Treats-with-Marrowbone-1.5kg-1.5kg-661826.jpg');
CREATE TABLE IF NOT EXISTS "shop_aboutproduct" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "code" varchar(6) NULL, "color_name" varchar(30) NOT NULL, "size_name" varchar(30) NOT NULL, "dimension_x" decimal NULL, "dimension_y" decimal NULL, "dimension_z" decimal NULL, "Weight" decimal NULL);
INSERT INTO shop_aboutproduct VALUES(2,NULL,'default','default',3,4,5,400);
INSERT INTO shop_aboutproduct VALUES(5,NULL,'default','default',NULL,NULL,NULL,NULL);
INSERT INTO shop_aboutproduct VALUES(6,NULL,'default','default',NULL,NULL,NULL,NULL);
CREATE TABLE IF NOT EXISTS "shop_brand" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL UNIQUE, "slug" varchar(50) NOT NULL UNIQUE, "description" text NULL);
CREATE TABLE IF NOT EXISTS "shop_product" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "type_code" varchar(2) NOT NULL, "title" varchar(200) NOT NULL UNIQUE, "price" decimal NOT NULL, "ship_price" decimal NOT NULL, "quantity" integer unsigned NOT NULL CHECK ("quantity" >= 0), "about_product_id" bigint NOT NULL UNIQUE REFERENCES "shop_aboutproduct" ("id") DEFERRABLE INITIALLY DEFERRED, "slug" varchar(50) NOT NULL UNIQUE, "uuid" char(32) NOT NULL, "brand_id" bigint NULL REFERENCES "shop_brand" ("id") DEFERRABLE INITIALLY DEFERRED, "search_vector" tsvector NULL, "description" text NOT NULL);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',43);
INSERT INTO sqlite_sequence VALUES('django_content_type',15);
INSERT INTO sqlite_sequence VALUES('auth_permission',64);
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE UNIQUE INDEX "authe_customerdog_allergy_customerdog_id_possibleallergies_id_6b5c2a7c_uniq" ON "authe_customerdog_allergy" ("customerdog_id", "possibleallergies_id");
CREATE INDEX "authe_customerdog_allergy_customerdog_id_ece70415" ON "authe_customerdog_allergy" ("customerdog_id");
CREATE INDEX "authe_customerdog_allergy_possibleallergies_id_589a49db" ON "authe_customerdog_allergy" ("possibleallergies_id");
CREATE UNIQUE INDEX "authe_customeruser_groups_customeruser_id_group_id_d453efe8_uniq" ON "authe_customeruser_groups" ("customeruser_id", "group_id");
CREATE INDEX "authe_customeruser_groups_customeruser_id_41eaa184" ON "authe_customeruser_groups" ("customeruser_id");
CREATE INDEX "authe_customeruser_groups_group_id_4bbf870b" ON "authe_customeruser_groups" ("group_id");
CREATE UNIQUE INDEX "authe_customeruser_user_permissions_customeruser_id_permission_id_d9b63fd8_uniq" ON "authe_customeruser_user_permissions" ("customeruser_id", "permission_id");
CREATE INDEX "authe_customeruser_user_permissions_customeruser_id_05983893" ON "authe_customeruser_user_permissions" ("customeruser_id");
CREATE INDEX "authe_customeruser_user_permissions_permission_id_3bdeb94c" ON "authe_customeruser_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE UNIQUE INDEX "shop_product_product_ingredients_product_id_possibleallergies_id_1735c4bc_uniq" ON "shop_product_product_ingredients" ("product_id", "possibleallergies_id");
CREATE INDEX "shop_product_product_ingredients_product_id_4cb91ee3" ON "shop_product_product_ingredients" ("product_id");
CREATE INDEX "shop_product_product_ingredients_possibleallergies_id_c5b5b87f" ON "shop_product_product_ingredients" ("possibleallergies_id");
CREATE INDEX "shop_productimages_product_id_6a1ab577" ON "shop_productimages" ("product_id");
CREATE INDEX "shop_product_brand_id_505fec11" ON "shop_product" ("brand_id");
COMMIT;
